{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
</head>

<body>

    <div class="container">
        <h1>Change Password</h1>

        <form method="POST" class="form-box">
            {% csrf_token %}
            <div class="form-section">
                {{ form.as_p }}
            </div>

            <button type="submit" class="save-btn">Update Password</button>
        </form>

        <a href="{% url 'profile_dashboard' %}" class="back-link">← Back to Dashboard</a>
    </div>

</body>
</html>